@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;600&display=swap');

*{
  font-family: 'Kanit', sans-serif;
}

/* Navbar */

.navbar{
  display: flex;  
  margin-left: auto;
}

.navbar-option{
  margin: 0 25px;
  text-decoration: none;
}

.navbar-img{
  display: block;
}

.navbar-option p{
  font-size: 20px;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 0 !important;
  height: 0;
  display: flex;
  align-items: center;
}

.navbar-option:hover .menuText{
  color: #f562a6;
}

/* Home */

.home_port{
  color: #ff1f87;
  font-size: 38px;
  text-align: left;
}

.home_title{
  font-size: 30px;
  text-align: left;
}

.home_about{
  font-size: 18px;
  text-align: left;
}

.home_hello{
  background: #ffffff;  
  padding: 60px;
}

.shome_skills{
  background: #eaeced;  
  background: -webkit-linear-gradient(to top, #FFFFFF, #eaeced); 
  background: linear-gradient(to top, #FFFFFF, #eaeced); 
  margin: 50px 150px;
}

.img_home{
  height: auto;
  max-width: 100%;
  display: block;
  position: relative;
}

.fas, .far{
  color: white;
  font-size: 26px;
  margin: 20px 50px;
}

.fa-graduation-cap{
margin: 15px; 
}

/* About */

.img_about{
  height: 300px;
}

.sabout-me{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 0 0;
}

.sabout-fotos{
  width: 49%;
  padding: 10px 0;
}

.sabout_row_1, .sabout_row_2{
  display: flex;
  justify-content: center;
}

.sabout-text{
  width: 49%;
  padding: 20px 0;
}

.sabout_exp{
  background: #000;
  margin-top: 10px;
  padding: 0 60px;
}

.sabout_extra{
  background: #000;  
  padding: 60px;
}

.container{
  display: flex;
}

.container_skills{
  width: 100%;
}

.container_cv{
  width: 100%;
}

.skills_btns{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:15px 0;
}

.skills_btn{
  border: 2px solid  #ff1f87;
  background: transparent;
  border-radius: 3px;
  margin: 20px;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  width: 120px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.download{
  display: flex;
  justify-content: center;
  margin: 15px;
}

.download_btn{
  background: #ff1f87;
  border: none;
  border-radius: 3px;
  margin: 20px;
}

.about_cont{
  color: #ff1f87;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.sabout_exp p{
  margin: 0;
}

.about_port{
  color: #ff1f87;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}

.about_title{
  font-size: 22px;
  text-align: left;
}

.about_about{
  font-size: 18px;
  text-align: justify;
}

/* Work */

.swork{
  background: #000000;
}

.swork_projects{
  padding: 60px;
}

.swork_img{
  height: 400px;
}

.swork_tech{
  background: black;
  padding-top: 90px;
}

.swork_tech_title{
  margin: 0;
  color: #ff1f87;
  font-size: 22px;
  top: 50px;
  padding: 80px 0 10px 60px;
}

.work_port{
  color: #ff1f87;
  font-size: 30px;
  text-align: left;
  margin-top: 0;
}

.work_btns{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work_btn{
  border: 2px solid  #ff1f87;
  background: transparent;
  border-radius: 3px;
  width: 60px;
  height: 60px;
  margin: 0 15px;
}

.fa-html5, .fa-css3-alt{
  color: #ffffff;
  font-size: 50px;
  margin: 7px 13px;
}

.fa-js, .fa-git{
  color: #ffffff;
  font-size: 50px;
  margin: 6px 9px;
}

.fa-react, .fa-wordpress, .fa-adobe{
  color: #ffffff;
  font-size: 50px;
  margin: 6px 5px;
}

.icon-mongodb, .icon-bootstrap{
  color: #ffffff;
  font-size: 46px;
  margin: 5px 8px;
}

.icon-heroku{
  color: #ffffff;
  font-size: 54px;
  margin: 15px;
}

.fa-node{
  color: #ffffff;
  font-size: 46px;
  margin: 6px 2px;
}

.work_btns_more{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.ver_btn{
  border-radius: 3px;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 50px;
  background-color: transparent;
  border: 1px solid #ff1f87;
  color: #ffffff;
}

.ver{
  display: flex;
  justify-content: center;
  margin: 15px;
}

/* Projects */

.project_cards_dev{
 display: flex;
 margin: 20px 0;
}

.projects_dev{
  width: 25%;
  padding: 10px;
}

.projects_dev p{
  height: 92px;
  color: #fff;
}

.project_cards_wp{
  display: flex;
  margin: 20px 0;
}

.projects_wp{
  width: 25%;
  padding: 10px;
}

.btn_link{
  color:  #ff1f87;
}

.projects_dev h2{
  color:  #ff1f87;
}

a{
  text-decoration: none;
  color: #ff1f87;
  font-weight: bold; 
}

/* Contact */

.scontact{
  background: url(./images/back-dos.png);
  padding: 90px 60px 60px 60px;
}

.cont_port{
  color: #ff1f87;
  font-size: 30px;
  text-align: left;
  margin-top: 0;
}

.contact_columns{
  display: flex;
  margin: 50px 250px;
}

.contact_left{
  width: 10%;
}

.contact_right{
  width: 40%;
}

.contact_middle{
  width: 50%;
}

.contact_space{
  height: 50px;
  padding: 25px;
}

.fa-mobile-alt, .fa-hashtag, .fa-thumbtack{
  color: #383838;
  font-size: 44px;
  margin: 0;
}

.fa-envelope-open-text{
  color: #383838;
  font-size: 44px;
  margin: 0 0 0 -7px;
}

.contact_text{
  font-size: 16px;
  font-weight: bold;
  margin: 15px;
  color: #ff1f87;
}

.contact_span{
  font-size: 18px;
  margin: 0;
}

.contact_desc{
  display: block;
  font-size: 16px;
}

/* Footer */
.footer{
  background: #251461;
  display: flex;
  width: 100%; 
}

.icons{
  margin: 0 auto;
}

ul{
  display: flex;
  padding: 0;
}

li{
  list-style: none;
  padding: 0;
}

.fa-linkedin-in, .fa-github, .fa-twitter, .fa-instagram{
  color: white;
  font-size: 26px;
  margin: 20px 50px;
}

.copyright{
  color: white;
  font-size: 30px;
  margin: 0 10px 40px 0;
  text-align: center;
  font-size: 15px;
}

.vertical-timeline-element-content{
  width: 100% !important;
}
/* Responsive */ 

@media only screen and (max-width: 1024px) {

  .project_cards_dev{
    display: inline;
   }

   .projects_dev{
    width: 100%;
    margin: 15px 0;
    padding: 0;
  } 

  .MuiPaper-root-11.MuiPaper-elevation1-14.MuiPaper-rounded-12.MuiCard-root-80.Work-card-78{
    -webkit-box-shadow: 3px 3px 19px -6px rgba(20,20,20,1);
    -moz-box-shadow: 3px 3px 19px -6px rgba(20,20,20,1);
    box-shadow: 3px 3px 19px -6px rgba(20,20,20,1);
    margin: auto;
  }

  .project_cards_wp{
    display: inline;
   }

   .projects_wp{
    width: 100%;
    margin: 15px auto;
    padding: 0;
  }

  .contact_columns{
    display: flex;
    margin: 50px 150px;
  }

  .home_hello{
    padding: 15px 30px;
  }

  .sabout-fotos, .sabout-text{
    width: 100%;
  }
  
  .sabout_row_1, .sabout_row_2{
    flex-direction: column;
  }

  .vertical-timeline-element-content{
    width: 85% !important;
  }

  .img_about{
    height: auto;
  }

  .sabout-text{
    padding: 20px 40px;
  }

  .vertical-timeline-element-content ul{
    padding-left: 22px;
  }

}

@media only screen and (max-width: 768px) {
  
  .contact_columns{
    display: flex;
    margin: 50px 70px;
  }

  .fa-mobile-alt, .fa-hashtag, .fa-thumbtack{
    color: #383838;
    font-size: 32px;
    margin: 0;
  }
  
  .fa-envelope-open-text{
    color: #383838;
    font-size: 32px;
    margin: 0 0 0 -7px;
  }

  .skill-row-1, .skill-row-2{
    flex-direction: column;
    align-items: center;
  }

}  

@media only screen and (max-width: 425px) {

  .navbar-img{
    height: 50px;
  }

  .navbar-option p{
    font-size: 14px;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
  }

  .shome_skills{
    margin: 50px 80px;
  }

  .swork_img{
    height: 200px;
  }

  .work_btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .work_btn{
    border: 2px solid  white;
    background: transparent;
    border-radius: 3px;
    width: 60px;
    height: 60px;
    margin: 0 15px 15px 15px;
  }


  .fa-html5, .fa-css3-alt{
    color: white;
    font-size: 50px;
    margin: 7px 13px;
  }

  .fa-js, .fa-git{
    color: white;
    font-size: 50px;
    margin: 6px 9px;
  }

  .fa-react, .fa-wordpress, .fa-adobe{
    color: white;
    font-size: 50px;
    margin: 6px 5px;
  }

  .fa-node{
    color: white;
    font-size: 46px;
    margin: 6px 2px;
  }

  .scontact{
    background: url(./images/back-dos.png);
    padding: 90px 40px 60px 40px;
  }

  .contact_columns{
    display: flex;
    margin: 50px 0;
  }

  .fa-mobile-alt, .fa-hashtag, .fa-thumbtack{
    color: #383838;
    font-size: 20px;
    margin: 0;
  }
  
  .fa-envelope-open-text{
    color: #383838;
    font-size: 20px;
    margin: 0 0 0 -7px;
  }

  .contact_space{
    height: 50px;
    padding: 5px;
    margin: 15px 0;
  }

  .contact_left{
    margin-right: 10px;
  }

  .contact_middle{
    margin-right: 10px;
  }

  .contact_text{
    font-size: 12px;
  }
  
  .contact_desc{
    font-size: 10px;
  }

  .contact_span{
    font-size: 14px;
  }

  .fa-linkedin-in, .fa-github, .fa-twitter, .fa-instagram{
    color: white;
    font-size: 22px;
    margin: 20px 20px;
  }
}

@media only screen and (max-width: 375px) {
  .navbar-option{
    margin: 0 5px;
  }

  .contact_columns{
    display: flex;
    margin: 50px 6px;
  }

  .scontact{
    background: url(./images/back-dos.png);
    padding: 90px 30px 60px 30px;
  }

  .fa-html5, .fa-css3-alt{
    color: white;
    font-size: 50px;
    margin: 7px 13px;
  }

  .fa-js, .fa-git{
    color: white;
    font-size: 50px;
    margin: 6px 9px;
  }

  .fa-react, .fa-wordpress, .fa-adobe{
    color: white;
    font-size: 50px;
    margin: 6px 5px;
  }

  .fa-node{
    color: white;
    font-size: 46px;
    margin: 6px 2px;
  }
}  

@media only screen and (max-width: 320px) {

  .navbar-option{
    margin: 0 5px;
  }

  .shome_skills{
    margin: 50px 70px;
  }

  .fa-html5, .fa-css3-alt{
    color: white;
    font-size: 50px;
    margin: 7px 13px;
  }

  .fa-js, .fa-git{
    color: white;
    font-size: 50px;
    margin: 6px 9px;
  }

  .fa-react, .fa-wordpress, .fa-adobe{
    color: white;
    font-size: 50px;
    margin: 6px 5px;
  }

  .fa-node{
    color: white;
    font-size: 46px;
    margin: 6px 2px;
  }
  
  .scontact{
    background: url(./images/back-dos.png);
    padding: 90px 20px 60px 20px;
  }

  .contact_middle{
    margin-right: 0;
  }

  .contact_text{
    font-size: 10px;
  }

  .contact_span{
    font-size: 12px;
  }
}

/* Estilos Nuevos */

.skillsHome{
  background-color: #000;
  padding: 20px 0;
}

.skillsHome .skills_home_btns{
  margin: 0;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.skill-row-1, .skill-row-2{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.aboutWork-title{
  margin-top: 30px !important;
  color: #ffffff;
}

.aboutWork-title-subtitle{
  color: #ffffff;
}

.aboutWork-subtitle{
  color: #f9f9f9
}

.aboutWork p{
  color: #f9f9f9;
  font-size: 18px !important;
}

.aboutWork ul{
  display: block;
  margin-bottom: 0;
  padding-left: 3%;
}

.aboutWork li{
  list-style: circle;
  display:list-item;
  list-style-position:outside;
}

.card-back{
  background-color: #201F23 !important;
}

.soon{
  font-size: 10px;
  display: none;
}

#workImg{  
  transition: transform .2s;
  
}

#workImg:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}

.home_port, .about_port, .about_cont, .work_port, .cont_port{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #ff1f87 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 30px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}