
*{
  /* outline: 1px solid red; */
  font-family: 'Didact Gothic', sans-serif;
}

/* Navbar */

.navbar{
  display: flex;  
  margin-left: auto;
}

.navbar-option{
  margin: 0 25px;
  text-decoration: none;
}

.navbar-img{
  display: block;
}

.navbar-option p{
  font-size: 20px;
  color: white;
  font-size: 20px;
  text-align: center;
}
.navbar-option:hover{
  background: #000000;
  background: -webkit-linear-gradient(to bottom, #1b7799, #000000);  
  background: linear-gradient(to bottom, #1b7799, #000000); 
  padding: 10px;
}

/* Home */
.par_mob{
  height: 600px;
}

.par_mob_a{
  height: 500px;
}

.home_port{
  color: #41A3C6;
  font-size: 30px;
  text-align: left;
}

.home_title{
  font-size: 30px;
  text-align: left;
}

.home_about{
  font-size: 18px;
  text-align: left;
}

.home_hello{
  background: #eaeced;  
  background: -webkit-linear-gradient(to top, #FFFFFF, #eaeced); 
  background: linear-gradient(to top, #FFFFFF, #eaeced); 
  padding: 60px;
}

.shome_skills{
  background: #eaeced;  
  background: -webkit-linear-gradient(to top, #FFFFFF, #eaeced); 
  background: linear-gradient(to top, #FFFFFF, #eaeced); 
  margin: 50px 150px;
}

img{
  height: auto;
  max-width: 100%;
  display: block;
}

.fab, .fas, .far{
  color: white;
  font-size: 26px;
  margin: 20px 50px;
}

.fa-graduation-cap{
margin: 15px; 
}

.fa-briefcase{
  margin: 18px;
} 

/* About */

.sabout_me{
  background: #eaeced;  
  background: -webkit-linear-gradient(to top, #FFFFFF, #eaeced); 
  background: linear-gradient(to top, #FFFFFF, #eaeced);
  padding: 60px;
}

.sabout_me p{
  margin: 0;
}

.sabout_exp{
  background: #eaeced;  
  background: -webkit-linear-gradient(to top, #FFFFFF, #eaeced); 
  background: linear-gradient(to top, #FFFFFF, #eaeced);
  padding: 60px;
}

.sabout_extra{
  background: #eaeced;  
  background: -webkit-linear-gradient(to top, #FFFFFF, #eaeced); 
  background: linear-gradient(to top, #FFFFFF, #eaeced);
  padding: 60px;
}

.container{
  display: flex;
}

.container_skills{
  width: 100%;
}

.container_cv{
  width: 100%;
}

.skills_btns{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:15px 0;
}

.skills_btn{
  border: 2px solid  #41A3C6;
  background: transparent;
  border-radius: 3px;
  margin: 20px;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  width: 120px;
  text-align: center;
}

.download{
  display: flex;
  justify-content: center;
  margin: 15px;
}

.download_btn{
  background: #41A3C6;
  border: none;
  border-radius: 3px;
  margin: 20px;
}

.about_cont{
  color: #41A3C6;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.sabout_exp p{
  margin: 0;
}

.about_port{
  color: #41A3C6;
  font-size: 22px;
  text-align: left;
}

.about_title{
  font-size: 22px;
  text-align: left;
}

.about_about{
  font-size: 18px;
  text-align: left;
}

/* Work */

.swork{
  background: #eaeced;  
  background: -webkit-linear-gradient(to top, #FFFFFF, #eaeced); 
  background: linear-gradient(to top, #FFFFFF, #eaeced);
}

.swork_projects{
  padding: 0 60px;
}

.swork_img{
  height: 400px;
}

.swork_tech{
  background: black;
}

.swork_tech_title{
  margin: 0;
  color: white;
  font-size: 22px;
  top: 50px;
  padding: 80px 0 10px 60px;
}

.work_port{
  color: #41A3C6;
  font-size: 22px;
  text-align: left;
  margin-top: 0;
}

.work_btns{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work_btn{
  border: 2px solid  white;
  background: transparent;
  border-radius: 3px;
  width: 60px;
  height: 60px;
  margin: 0 15px;
}

.fa-html5, .fa-css3-alt{
  color: white;
  font-size: 50px;
  margin: 7px 13px;
}

.fa-js, .fa-git{
  color: white;
  font-size: 50px;
  margin: 6px 9px;
}

.fa-react, .fa-wordpress, .fa-adobe{
  color: white;
  font-size: 50px;
  margin: 6px 5px;
}

.icon-mongodb, .icon-bootstrap{
  color: white;
  font-size: 46px;
  margin: 5px 8px;
}

.icon-heroku{
  color: white;
  font-size: 54px;
  margin: 15px;
}

.fa-node{
  color: white;
  font-size: 46px;
  margin: 6px 2px;
}

.work_btns_more{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.ver_btn{
  border-radius: 3px;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 50px;
  background-color: white;
}

.ver{
  display: flex;
  justify-content: center;
  margin: 15px;
}

/* Projects */

.project_cards_dev{
 display: flex;
}

.projects_dev{
  width: 25%;
  padding: 10px;
}

.MuiPaper-root-11.MuiPaper-elevation1-14.MuiPaper-rounded-12.MuiCard-root-80.Work-card-78{
  -webkit-box-shadow: 3px 3px 19px -6px rgba(20,20,20,1);
  -moz-box-shadow: 3px 3px 19px -6px rgba(20,20,20,1);
  box-shadow: 3px 3px 19px -6px rgba(20,20,20,1);
}

.project_cards_wp{
  display: flex;
  margin: 20px 0;
}

.projects_wp{
  width: 25%;
  padding: 10px;
}

.btn_link{
  color:  #41A3C6;
}

.MuiTypography-root-42.MuiTypography-h5-58.MuiTypography-gutterBottom-69{
  color:  #41A3C6;
}

a{
  text-decoration: none;
  color: #41A3C6;
  font-weight: bold; 
}
/* Footer */
.footer{
  background: black;
  display: flex;
  width: 100%; 
}

.icons{
  margin: 0 auto;
}

ul{
  display: flex;
  padding: 0;
}

li{
  list-style: none;
  padding: 0;
}

.copyright{
  color: white;
  font-size: 30px;
  margin: 0 10px;
  text-align: center;
  font-size: 15px;
}

/* Responsive */
@media only screen and (max-width: 1024px) {
  .fa-graduation-cap{
    margin: 5px; 
    }

  .fa-briefcase{
    margin: 5px;
  }  
}  

@media only screen and (max-width: 1024px) {

  .project_cards_dev{
    display: inline;
   }

   .projects_dev{
    width: 100%;
    margin: 15px 0;
    padding: 0;
  } 

  .MuiPaper-root-11.MuiPaper-elevation1-14.MuiPaper-rounded-12.MuiCard-root-80.Work-card-78{
    -webkit-box-shadow: 3px 3px 19px -6px rgba(20,20,20,1);
    -moz-box-shadow: 3px 3px 19px -6px rgba(20,20,20,1);
    box-shadow: 3px 3px 19px -6px rgba(20,20,20,1);
    margin: auto;
  }

  .project_cards_wp{
    display: inline;
   }

   .projects_wp{
    width: 100%;
    margin: 15px auto;
    padding: 0;
  }
}

@media only screen and (max-width: 425px) {

  .navbar-option{
    padding: 5px;
  }
  
  .navbar-option p{
    font-size: 14px;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
  }

  .par_mob{
    height: 250px;
  }

  .par_mob_a{
    height: 250px;
  }

  .shome_skills{
    margin: 50px 80px;
  }

  .swork_img{
    height: 200px;
  }

  .work_btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .work_btn{
    border: 2px solid  white;
    background: transparent;
    border-radius: 3px;
    width: 60px;
    height: 60px;
    margin: 0 15px 15px 15px;
  }
 
  .fab{
    color: white;
    font-size: 24px;
    margin: 20px 20px;
  }
}

@media only screen and (max-width: 320px) {
  .navbar{
    margin-left: 5px;
  }

  .navbar-option{
    margin: 0 5px;
    text-decoration: none;
  }

  .shome_skills{
    margin: 50px 70px;
  }


.fa-html5, .fa-css3-alt{
  color: white;
  font-size: 50px;
  margin: 7px 13px;
}

.fa-js, .fa-git{
  color: white;
  font-size: 50px;
  margin: 6px 9px;
}

.fa-react, .fa-wordpress, .fa-adobe{
  color: white;
  font-size: 50px;
  margin: 6px 5px;
}

.fa-node{
  color: white;
  font-size: 46px;
  margin: 6px 2px;
}
  
}

